{% load staticfiles %}

{% block head %}
<head>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}"/ type="text/css">
    <title> {% block title %} Cool Django Blog  {% endblock %}</title>
    <link rel="shortcut icon" href="{% static "blog/images/b2.jpg" %}" type="image/jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style id="holderjs-style" type="text/css"></style>


    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->
    <!--<link rel="icon" href="../../favicon.ico">-->

    <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!--&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;-->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Custom styles for this template &ndash;&gt;-->
    <!--<link href="blog.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Just for debugging purposes. Don't actually copy these 2 lines! &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]&ndash;&gt;-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!--&lt;!&ndash; HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]>-->
      <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>-->
      <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
  </head>
</head>
{% endblock %}

{% block menu %}
<div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/index/">Home</a>
          <a class="blog-nav-item" href="#">About</a>
          <!--<a class="blog-nav-item" href="{% url 'blog:login' %}">Login</a>-->
          <!--<a class="blog-nav-item" href="{% url 'blog:register' %}">Register</a>-->
          <a class="blog-nav-item"
            {% if user.is_authenticated %}
                <p>{{ user.username }}, wellcome to Blog!</p>
                <a href="/logout">Logout..</a>
            {% else %}
                <p>Wellcome to Blog!</p>
                <a href="/register/">Register</a>
                <a href="/login/">Login</a>
            {% endif %}
          </a>
        </nav>
      </div>
    </div>
{% endblock %}

{% block body %}
<div class="container">
      <div class="blog-header">
        <!--<h1 class="blog-title">The Bootstrap Blog</h1>-->
        <!--<p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>-->
        <img src="{% static 'images/django.jpg' %}" alt="django images"/>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            {% block content %}
            {% endblock %}
          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>
          </div>
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">September 2016</a></li>
              <li><a href="#">August 2016</a></li>
              <li><a href="#">July 2016</a></li>
              <li><a href="#">June 2016</a></li>
              <li><a href="#">May 2016</a></li>
              <li><a href="#">April 2016</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/svetlanadev/cool_django_blog">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div>
{% endblock %}

{% block footer %}
    <footer class="blog-footer">
      <p>
        <a href="#">Back to top</a>
        <p>@2016 Cool Django Blog</p>
      </p>
    </footer>
{% endblock %}